* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    margin: 0;
  height: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-container {
  min-height: 100vh;
  width: 100%;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
}

.container-border {
 margin-top: 4rem;
  padding: 2px;
  border-radius: 18px;

background: conic-gradient(
  from 135deg,
  #E6CF85 0deg,
  #505457 100deg,
  #E6CF85 180deg,
  #505457 240deg,
  #E6CF85 360deg
);

box-shadow: 0 0 14px rgba(230, 207, 133, 0.35);


  width: 40vw;
  height: 71vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    gap: 1.5rem;

    .content-title {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;
        flex-direction: column;
        .logo img{
          width: 120px;
          height: auto;
        }
    }

    .title{
      
      .first-text{
        color: #FFFFFF;
      }
      .second-text{
        color: #F1BB36;
      }
    }

    .input{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        align-self: center;
        margin-bottom: 2rem;
    }
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    width: 80%;
}

app-input{
    display: block;
    width: 100%;
    max-width: 600px;
}

.button-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    align-self: center;
    flex-direction: column;
    .first-div{
        margin-top: 2rem;
        a{
        color: var(--white-color);
        }
    }
    .second-div{
        color: var(--white-color);  
      a{
        color: var(--white-color);
        }
    }
}
app-button{
    display: block;
    width: 100%;
    padding: 0;
}

app-button ::ng-deep .c-button,
app-button ::ng-deep .c-button--gooey {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
app-button ::ng-deep .c-button--gooey .c-button__blobs div {
  width: 100%;
}


.content-title .logo img {
  width: 120px;
  height: auto;
  display: block;
}

.content-title .title {
  font-size: 2rem;
  line-height: 1;
  color: var(--black-color);
}

.container-border,
.container {
  overflow: visible;
}

.content-title {
  position: relative;
}

.content-title .logo {
  position: absolute;
  top: -9rem; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.content-title .logo img {
  width: 160px;
  height: auto;
  display: block;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  span{
    color: var(--white-color);
  }
  .img-footer img {
    width: 45px;
    height: auto;
  }
}