:root {
    --color-background: linear-gradient(450deg, #041a4a 30%,#0A3EB0 100%);
    --primary-color: #30557A;
    --primary-button-color: #ffbf29;
    --border-center-color: gradient(500deg, #E6CF85, #505457, #E6CF85 100%);
    --black-color: #000000;
    --white-color: #D8E1E6;
}
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}


app-root {
  display: block;
  height: 100%;
}
