name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build backend.dotnet --file backend.dotnet/projeto.desbravadores.Api/Dockerfile --tag projeto-desbravadores:${{ github.sha }}
